@page
@model RenielDaavid.DateCalculator.Pages.DatesModel
@{
}
<H4>DateCalculator</H4>
<div class="row">
    <form method="post">
        <div class="form-group">
            <label for="DTpicker">Pick Date and Time</label>
            <input type="datetime-local" id="DTpicker" name="DTpicker">
        </div>
        <div class="form-group">
            <input type="submit" value="Result" class="btn btn-primary" />
        </div>
    </form>
</div>



