@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DateCalculator</h1>
    <p>RenielDavid DateCalculator <a href="/Dates">here</a>.</p>
</div>
